#IntelliJ
.idea/
.gradle
build/
out/
*.iml
*.ipr
*.iws
classes/
target/

#Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath

.DS_Store
*.DS_Store

prode5-service/build/dependency-cache/
prode5-service/build/tmp/compileJava/
prode5-service/build/tmp/compileTestJava/
prode5-service/src/main/java/com/prode5digos/configuration/
